body {
  font-family: "Lato", sans-serif; /* Use Lato for buttons */
  margin: 0;
  padding: 0;
}
.contact {
    padding: 30px 5%;
    text-align: center;
    background-color: #fafafa;
  }
  
  .contact h1 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    font-family: "Merriweather", serif;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 50%;
    padding: 10px;
    border-radius: 18px;
    border: 1px solid #ccc;
  }
  
  .contact-form textarea {
    height: 150px;
  }
  
  .contact-form button {
    background-color: #474747;
    color: white;
    padding: 12px 20px;
    border-radius: 18px;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 15px;
  }
  
  .contact-form button:hover {
    background-color: #1a1a1a;
  }